//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 15 18:25:56 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Clk100MHz" LOCATE = SITE "V10" LEVEL 1;
COMP "HorEn" LOCATE = SITE "A8" LEVEL 1;
COMP "MinEn" LOCATE = SITE "C9" LEVEL 1;
COMP "SegOut<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "SegOut<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "SegOut<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "Disp<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "SegOut<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "Seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "Disp<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "SegOut<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "Seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "Disp<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "SegOut<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "Seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "Disp<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "SegOut<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "Seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "SegOut<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "Seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "Seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "DecEnt<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "Seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "DecEnt<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "Seg<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "DecEnt<2>" LOCATE = SITE "V8" LEVEL 1;
COMP "DecEnt<3>" LOCATE = SITE "T5" LEVEL 1;
COMP "Rst" LOCATE = SITE "B8" LEVEL 1;
COMP "UniEnt<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "UniEnt<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "UniEnt<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "UniEnt<3>" LOCATE = SITE "M8" LEVEL 1;
SCHEMATIC END;

