

# PlanAhead Generated physical constraints 

NET "Clk100MHz" LOC = V10;
NET "Rst"       LOC = B8;
NET "HorEn"     LOC = A8;
NET "MinEn"     LOC = C9;
NET "Disp[3]"  LOC = P17;
NET "Disp[2]"  LOC = P18;
NET "Disp[1]"  LOC = N15;
NET "Disp[0]"  LOC = N16;
NET "Seg[0]"    LOC = T17;
NET "Seg[1]"    LOC = T18;
NET "Seg[2]"    LOC = U17;
NET "Seg[3]"    LOC = U18;
NET "Seg[4]"    LOC = M14;
NET "Seg[5]"    LOC = N14;
NET "Seg[6]"    LOC = L14;
NET "Seg[7]"    LOC = M13;
NET "SegOut[0]"    LOC = U16;
NET "SegOut[1]"    LOC = V16;
NET "SegOut[2]"    LOC = U15;
NET "SegOut[3]"    LOC = V15;
NET "SegOut[4]"    LOC = M11;
NET "SegOut[5]"    LOC = N11;
NET "SegOut[6]"    LOC = R11;
NET "SegOut[7]"    LOC = T11;
NET "UniEnt[0]"    LOC = T10;
NET "UniEnt[1]"    LOC = T9;
NET "UniEnt[2]"    LOC = V9;
NET "UniEnt[3]"    LOC = M8;
NET "DecEnt[0]"    LOC = N8;
NET "DecEnt[1]"    LOC = U8;
NET "DecEnt[2]"    LOC = V8;
NET "DecEnt[3]"    LOC = T5;

